h1{
	color: white;
	background-color: red;
}

body{
	color: chartreuse;
	font-weight: bold;
	background: linear-gradient(360deg, rgba(255,255,255,0) 65%, #FFD0AE 65%);
	background-color: red;
}

p{
	font-weight: bold;
	font-style: italic;
	color: red;	
	background-color: skyblue;
}